# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
emotion-10-className/node_modules
emotion-10-css/node_modules
emotion-11-css/node_modules
emotion-11-className/node_modules
/.pnp
/.pnp
.pnp.js

# testing
emotion-10-className/coverage
emotion-10-css/coverage
emotion-11-css/coverage
emotion-11-className/coverage

# production
emotion-10-className/build
emotion-10-css/build
emotion-11-css/build
emotion-11-className/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
